<h1 class="text-center mt-3">Welcome To The Mini Store</h1>

<div class="products">
	<div class="products-product" *ngFor="let product of products">
		<a routerLink="/product/{{product.id}}">
			<img class="img-fluid" src={{product.image}} alt="">
		</a>
		<div class="details-actions">
			<h6 class="name"><a routerLink="/product/{{product.id}}">{{product.title}}</a></h6>
			<h6 class="price">Price: R{{product.price}}</h6>
		</div>
		<div class="actions">
			<a mdbBtn routerLink="/product/{{product.id}}" style="padding: 1em;" type="button" size="sm" color="default" routerLink="/" mdbWavesEffect>
				<mdb-icon fas icon="eye"></mdb-icon>
			</a>

			<button mdbBtn style="padding: 1em;" type="button" size="sm" color="default" outline="true" mdbWavesEffect (click)="addToCart(product)">
				<mdb-icon fas icon="cart-plus" class="mr-1"></mdb-icon>Add To Cart
			</button>
		</div>
	</div>
</div>