<h1 class="text-center mt-3">Welcome To The Mini Store</h1>

<div class="products">
	<mdb-card>
		<img src="https://lh3.googleusercontent.com/proxy/hCyZkmqQ5Gmp75EOtPSzNmbJXGVtd58Em2m8kuC99WtSk1uCdrTiIWQiZ3Vdfzn2REJqKdkI4J_jXYxETJQPE-OHGOAV5tEZyUJw" alt="">
		<div class="details-actions">
			<h5 class="name">Product name</h5>
			<h6 class="price">R600.00</h6>
			<div class="actions">
				<mdb-icon fas icon="eye"></mdb-icon>
				<mdb-icon fas icon="cart-plus"></mdb-icon>
			</div>
		</div>
	</mdb-card>

	<mdb-card>
		<img src="https://lh3.googleusercontent.com/proxy/hCyZkmqQ5Gmp75EOtPSzNmbJXGVtd58Em2m8kuC99WtSk1uCdrTiIWQiZ3Vdfzn2REJqKdkI4J_jXYxETJQPE-OHGOAV5tEZyUJw" alt="">
		<div class="details-actions">
			<h5 class="name">Product name</h5>
			<h6 class="price">R600.00</h6>
			<div class="actions">
				<mdb-icon fas icon="eye"></mdb-icon>
				<mdb-icon fas icon="cart-plus"></mdb-icon>
			</div>
		</div>
	</mdb-card>

	<mdb-card>
		<img src="https://lh3.googleusercontent.com/proxy/hCyZkmqQ5Gmp75EOtPSzNmbJXGVtd58Em2m8kuC99WtSk1uCdrTiIWQiZ3Vdfzn2REJqKdkI4J_jXYxETJQPE-OHGOAV5tEZyUJw" alt="">
		<div class="details-actions">
			<h5 class="name">Product name</h5>
			<h6 class="price">R600.00</h6>
			<div class="actions">
				<mdb-icon fas icon="eye"></mdb-icon>
				<mdb-icon fas icon="cart-plus"></mdb-icon>
			</div>
		</div>
	</mdb-card>

	<mdb-card>
		<img src="https://lh3.googleusercontent.com/proxy/hCyZkmqQ5Gmp75EOtPSzNmbJXGVtd58Em2m8kuC99WtSk1uCdrTiIWQiZ3Vdfzn2REJqKdkI4J_jXYxETJQPE-OHGOAV5tEZyUJw" alt="">
		<div class="details-actions">
			<h5 class="name">Product name</h5>
			<h6 class="price">R600.00</h6>
			<div class="actions">
				<mdb-icon fas icon="eye"></mdb-icon>
				<mdb-icon fas icon="cart-plus"></mdb-icon>
			</div>
		</div>
	</mdb-card>
</div>