<div class="cart">
	<div class="w-100">
		<a mdbBtn class="mt-4" type="button" color="purple" size="sm" outline="true" routerLink="/" mdbWavesEffect>
			<mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>Continue Shopping
		</a>
	</div>

	<mdb-card>
		<mdb-card-body class="container">
			<div class="row">
				<div class="col-sm-4 col-4">
					<strong>Total Items:</strong> {{cart_total}}
				</div>
				<div class="col-sm-5 col-5">
					<strong>Total Cost:</strong> R{{cart_total_price | number : '1.2-2'}}
				</div>
				<div class="col-sm-3 col-3">
					<a type="button" mdbBtn floating="true" size="sm" color="success" outline="true" class="waves-light" mdbWavesEffect>
						<mdb-icon fas icon="cart-arrow-down" class="mr-1"></mdb-icon>Checkout
					</a>
				</div>
			</div>
		</mdb-card-body>
	</mdb-card>

	<mdb-card>
		<div class="container pt-1 pb-1">
			<div class="row">
				<div class="col-4">
					Product
				</div>
				<div class="col-4">
					Quantity
				</div>
				<div class="col-4">
					Total
				</div>
			</div>
		</div>
	</mdb-card>

	<div class="container">
		<div class="row" *ngFor="let product of products">
			<div class="col-4">
				<a class="cart-product" routerLink="/product/1">
					<img class="img-fluid" style="max-height: 70px;" src={{product.image}} alt="">
					<p><small>{{product.title}}</small></p>
				</a>
			</div>
			<div class="col-4">
				<div class="quantity">
					<span>
						<button type="button" mdbBtn floating="true" size="sm" color="warning" outline="true" class="waves-light" mdbWavesEffect (click)="decreaseQTY(product)">
							<mdb-icon fas icon="minus"></mdb-icon>
						</button>
					</span>
					<span>{{product.quantity}}</span>
					<span>
						<button type="button" mdbBtn floating="true" size="sm" color="success" outline="true" class="waves-light" mdbWavesEffect (click)="increaseQTY(product)">
							<mdb-icon fas icon="plus"></mdb-icon>
						</button>
					</span>
				</div>
			</div>
			<div class="col-4">
				<span>R{{product.price | number : '1.2-2'}}</span>
			</div>
		</div>
	</div>
</div>