<!-- Footer -->
<footer class="footer">
	<div class="socials">
		<a class="gplus-ic" href="https://github.com/nseokaneJHB" target="_blank">
			<mdb-icon fab fab icon="github"></mdb-icon>
		</a>
		
		<a class="li-ic" href="https://www.linkedin.com/nolan-seokane" target="_blank">
			<mdb-icon fab icon="linkedin"></mdb-icon>
		</a>
		
		<a class="ins-ic" href="https://www.instagram.com/nolan__kgotso/" target="_blank">
			<mdb-icon fab icon="instagram"></mdb-icon>
		</a>
	</div>

	<small>Nolan Seokane &copy; 2021 Mini Store</small>

</footer>
<!-- Footer -->